body{
    background-color: rgb(9, 164, 164);
}
button{
    background-color: rgb(42, 78, 154);
    color: white;
    display: flex;
    border-radius: 5px;
    border-color: antiquewhite;
    font-size: 2rem;
   
}
button:hover{
    background-color: rgb(3, 43, 44);
    color: rgb(255, 255, 255);
}